.bg-color1 {
    background-color: #eeeeee;
}
.bg-color2 {
    background-color: #dddddd;
}
.bg-color3 {
    background-color: #cccccc;
}
.depends-of-parity:nth-child(even) {
    background-color: #eeeeee;
}
.depends-of-parity:nth-child(odd) {
    background-color: #dddddd;
}
