<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" >
<head>
    <link rel=stylesheet type="text/css" href="/public_static/css/bootstrap.css">
    <link rel=stylesheet type="text/css" href="/public_static/white_theme.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/public_static/js/bootstrap.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"> </script>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        article img {
            border-radius: 50%;
        }
        article {
            overflow-wrap: break-word;
        }
        .username {
            text-decoration:none;
        }
    </style>

    <script th:text="'channel_ids = ' + ${channel_ids} + ';'"></script>

    <script>

        function errorCallback(error) {
            alert(error.headers.message);
        }

        function getHtmlForArticle(mes) {
            var article_string = `
                <article class="row py-2">
                    <a class="col-auto" href="/public/profile/${mes.username}" style="position:relative;">
                        <img src="/public/photo/${mes.username}" width="60" height="60"
                            alt="аватарка пользователя ${mes.username}">
                        <img src="/public_static/catmaid.jpg" width="60" height="60"
                            alt="кошкогорничная" style="position: absolute; z-index: 99; left:calc(var(--bs-gutter-x) * .5); border-radius:50%;
                            opacity: ${mes.opacity};">
                    </a>
                    <div class="col-sm col-xs-12">
                        <div>
                            <b><a class="username" href="/public/profile/${mes.username}">${mes.username}</a></b>
                        </div>
                        <div>${mes.text}</div>
                    </div>
                </article>`;

            return article_string;
        }

        function getHtmlForPlayer(player) {
            var player_string = `
            <li class="row py-2">
                <a class="col-auto" href="/public/profile/${player.login}" style="position:relative;">
                    <img src="/public/photo/${player.login}" width="60" height="60"
                        alt="аватарка пользователя ${player.login}" style="border-radius:50%;">
                    <img src="/public_static/catmaid.jpg" width="60" height="60"
                        alt="кошкогорничная" style="position: absolute; z-index: 99; left:calc(var(--bs-gutter-x) * .5); border-radius:50%;
                        opacity: ${player.degreeUwU};">
                </a>
                <div class="col-sm col-xs-12">
                    <b><a class="username" href="/public/profile/${player.login}">${player.login}</a></b>
                </div>
            </li>`;

            return player_string;
        }

        function update_ui(status) {


            if (status.body == 'processing')
                return;

            fetch('/user/status_room/' + room_id.value, {
                headers: {
                    'Accept': 'application/json'
                }
            }).then(
            function(response) {
                if (response.status !== 200) {
                    console.log("Can't load messages. Status Code: " + response.status);
                    return;
                }
                response.json().then(function(data) {

                    var finish = data.finish_stage * 1000;

                    if (typeof intervalID !== 'undefined')
                        clearInterval(intervalID);
                    intervalID = setInterval(function() {
                        var res = (finish - Date.now()) / 1000;

                        if (res < 0) {
                            time_until_new_stage.innerHTML = "Осталось 0 секунд";
                            clearInterval(intervalID);
                            return;
                        }

                        time_until_new_stage.innerHTML = "Осталось " + Math.floor(res) + " секунд";
                    }, 1000);

                    var string_pills = "";
                    var string_tabs = "";
                    var ind = 0;

                    for (const channel of data.channels) {
                        var html_string = `
                        <li class="nav-item" role="presentation">
                            <button class="nav-link ${((ind == 0)? 'active' : '')}"
                                id="${channel.channel_id}-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-${channel.channel_id}" type="button" role="tab"
                                aria-controls="pills-${channel.channel_id}" aria-selected="true">${channel.name}</button>
                        </li>`
                        string_pills += html_string;


                        html_string = `
                             <div class="tab-pane fade ${((ind == 0)? 'show active' : '')}"
                             id="pills-${channel.channel_id}" role="tabpanel" aria-labelledby="${channel.channel_id}-tab">

                            <div class="row">
                                <div class = "col-12" id="articles${channel.channel_id}">
                                </div>

                                <div class = "col-12">
                                    <form id="form${channel.channel_id}" onsubmit="sendMessage(event)" class="row py-2">
                                        <input type="hidden"
                                               name = "channel"
                                               value="${channel.channel_id}"/>
                                        <div class="col-11">
                                            <textarea class="form-control" rows="3"
                                                      name="text" id="text${channel.channel_id}"></textarea>
                                        </div>
                                        <div class="col-1 px-0">
                                            <button class="px-0">
                                                <img src="/public_static/icons/send.svg" width="30" height="30" alt="кнопка отправить">
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>`

                        string_tabs += html_string;
                        ind++;
                    }

                    var elem = document.getElementById('pills-tab');
                    elem.innerHTML = string_pills;

                    elem = document.getElementById('pills-tabContent');
                    elem.innerHTML = string_tabs;

                    for (const channel of data.channels) {

                        fetch('/public/chat/get_messages/' + room_id.value + '/' + channel.channel_id, {
                            headers: {
                                'Accept': 'application/json'
                            }
                        }).then(
                        function(response) {
                            if (response.status !== 200) {
                                console.log("Can't load messages. Status Code: " + response.status);
                                return;
                            }
                            response.json().then(function(data) {
                                string_articles = "";

                                for (const mes of data) {
                                    string_articles += getHtmlForArticle(mes);
                                }

                                var elem = document.getElementById('articles' + channel.channel_id);
                                elem.innerHTML = string_articles;
                            });

                            if (subscriptions.has(channel.channel_id)) {
                                var subscription = subscriptions.get(channel.channel_id);
                                subscription.unsubscribe();
                            }

                            var subscription = stompClient.subscribe('/topic/messages/' + room_id.value + '/' + channel.channel_id,
                                function(messageOutput) {
                                    var elem = document.getElementById('articles' + channel.channel_id);
                                    elem.innerHTML = elem.innerHTML + getHtmlForArticle(JSON.parse(messageOutput.body));
                                }
                            );
                            subscriptions.set(channel.channel_id, subscription);
                        });
                    }
                });
            });
        }

        function receiveCallback(players) {
            players = JSON.parse(players.body);
            var elem = document.getElementById('players');
            string_players = "";

            for (const player of players) {
                console.log(player);
                string_players += getHtmlForPlayer(player);
            }

            var elem = document.getElementById('players');
            elem.innerHTML = string_players;
        }

        function connectCallback(frame) {

            for (const channel_id of channel_ids) {
                fetch('/public/chat/get_messages/' + room_id.value + '/' + channel_id, {
                    headers: {
                        'Accept': 'application/json'
                    }
                }).then(
                function(response) {
                    if (response.status !== 200) {
                        console.log("Can't load messages. Status Code: " + response.status);
                        return;
                    }
                    response.json().then(function(data) {
                        string_articles = "";

                        for (const mes of data) {
                            string_articles += getHtmlForArticle(mes);
                        }

                        var elem = document.getElementById('articles' + channel_id);
                        elem.innerHTML = string_articles;
                    });

                    var subscription = stompClient.subscribe('/topic/messages/' + room_id.value + '/' + channel_id,
                        function(messageOutput) {
                            var elem = document.getElementById('articles' + channel_id);
                            elem.innerHTML = elem.innerHTML + getHtmlForArticle(JSON.parse(messageOutput.body));
                        }
                    );

                    subscriptions.set(channel_id, subscription);


                    stompClient.subscribe('/topic/user/' + channel_id + '/' + username.value,
                        function(messageOutput){
                            var announcement_string = `
                                <article class="row py-2">
                                    <div class="col-sm col-xs-12 text-danger" style="font-size:1.25rem;">
                                        <div>Вы отправили слишком много текста в слишком короткий промежуток времени</div>
                                    </div>
                                </article>`;

                            var elem = document.getElementById('articles' + channel_id);
                            elem.innerHTML = elem.innerHTML + announcement_string;
                        }
                    );

                });
            }

            fetch('/public/room/get_players/' + room_id.value, {
                headers: {
                    'Accept': 'application/json'
                }
            }).then(
            function(response) {
                if (response.status !== 200) {
                    console.log("Can't load players. Status Code: " + response.status);
                    return;
                }
                response.json().then(function(data) {
                    string_players = "";

                    for (const player of data) {
                        string_players += getHtmlForPlayer(player);
                    }

                    var elem = document.getElementById('players');
                    elem.innerHTML = string_players;
                });

                stompClient.subscribe('/topic/players/' + room_id.value, receiveCallback);
            });

            stompClient.subscribe('/topic/room_status/' + room_id.value, update_ui);
        }

        function connect() {
            var socket = new SockJS('/public/stomp/chat');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, connectCallback, errorCallback);
        }

        function sendMessage(event) {
            event.preventDefault();
            var csrf_token = document.getElementById('_csrf').value;
            channel_id = event.target.id.substring(4);

            var text = document.getElementById('text' + channel_id).value;
            stompClient.send("/app/message/" + room_id.value + '/' + channel_id, {'x-csrf-token':csrf_token},
                JSON.stringify({'text':text, 'username':username.value}));
            event.target.reset();
        }

        function unloadHandler() {
            stompClient.disconnect();
        }

        subscriptions = new Map();

        document.addEventListener("DOMContentLoaded", connect);

        window.onbeforeunload = unloadHandler;
    </script>

    <script>
        function initialize_room(data) {

            players = data;

            console.log(players);

            roles = new Array(players.length).fill("Мирный");
            mafia_index = Math.floor(Math.random() * roles.length);
            roles[mafia_index] = "Мафия";

            /*
            for (var i = roles.length - 1; i > 0; i--) {
                var j = Math.floor(Math.random() * (i + 1));
                var temp = roles[i];
                roles[i] = roles[j];
                roles[j] = temp;
            }
            */

            all_mask = (1 << players.length) - 1;
            mafia_mask = (1 << mafia_index);

            messages = new Array(players.length);
            for (var i = 0; i < players.length; i++) {
                messages[i] = "Ваша роль: " + roles[i];
            }

            fetch('/user/start_room/' + room_id.value, {
                method: 'post',
                headers: {
                    "X-CSRF-TOKEN" : _csrf.value,
                    "Content-Type" : "application/json; charset=utf-8"
                },
                body: JSON.stringify({
                    "channels" : [
                    {"name" : "день", "read_mask" : all_mask, "write_mask" : all_mask},
                    {"name" : "ночь", "read_mask" : mafia_mask, "write_mask" : mafia_mask}
                    ],
                    "polls" : [{"name": "дневное голосование", "vote_mask": all_mask, "view_mask": 0}],
                    "messages" : messages,
                    "duration" : 30,
                    "stage" : "день"
                })
            }).then( (response) => {
                if (response.status !== 200) {
                    console.log("Can't start room. Status Code: " + response.status);
                    return;
                }
            });
        }
    </script>

    <script>
        function submit_start_room(event) {
            event.preventDefault();

            fetch('/user/processing_start_room/' + room_id.value, {
                method: 'post',
                headers: {
                    "X-CSRF-TOKEN" : _csrf.value,
                }
            }).then( (response) => {
                if (response.status !== 200) {
                    console.log("Can't start room. Status Code: " + response.status);
                    return;
                }
                response.json().then(function(data) {
                    initialize_room(data);
                });
            });
        }
    </script>

</head>
<body>
<header th:replace="~{public/header :: |${@securityService.getAccess()}_header|}"></header>
<main class="container">
    <input type="hidden" name = "username" th:value="${@securityService.getUsername()}" id = "username"/>
    <input type="hidden" name = "room_id" th:value="${room_id}" id = "room_id"/>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" id = "_csrf"/>

    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-sm bg-light navbar-light" style="z-index:999; position:sticky; top:80px;">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#chat_menu"
                        aria-controls="chat_menu" aria-expanded="false" aria-label="Toggle chat menu">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div id = "chat_menu" class="row collapse navbar-collapse justify-content-between">
                    <div class="col-auto">
                        <a th:href="'/user/exit_room/' + ${room_id}"><button class="btn btn-outline-secondary" type="button" id="quit_button">выйти</button></a>
                        <button class="btn btn-outline-secondary" type="button" id="start_button" onclick="submit_start_room(event)">начать</button>
                        <div><span id="time_until_new_stage" style="font-size:1.5rem;"></span></div>
                    </div>

                    <div class="col-auto">
                        <ul class="nav nav-pills" id="pills-tab" role="tablist">


                            <li th:each="channel, iter : ${channels}" class="nav-item" role="presentation">
                                <button th:class="'nav-link' + ((iter.index == 0)? 'active' : '')"
                                        th:id="${channel.id} + '-tab'" data-bs-toggle="pill"
                                        th:data-bs-target="'#pills-' + ${channel.id}" type="button" role="tab"
                                        th:aria-controls="'pills-' + ${channel.id}" aria-selected="true"
                                        th:text="${channel.name}"></button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-players-tab" data-bs-toggle="pill" data-bs-target="#pills-players" type="button" role="tab" aria-controls="pills-players" aria-selected="false">игроки</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="tab-content" id="pills-tabContent">

                <div th:each="channel, iter : ${channels}"
                     th:class="'tab-pane fade' + ((${iter.index} == 0)? 'show active' : '')"
                     th:id="'pills-' + ${channel.id}" role="tabpanel" th:aria-labelledby="${channel.id} + '-tab'">

                    <div class="row">
                        <div class = "col-12" th:id="'articles' + ${channel.id}">
                        </div>

                        <div class = "col-12">
                            <form th:id="'form' + ${channel.id}" onsubmit="sendMessage(event)" class="row py-2">
                                <input type="hidden"
                                       name = "channel"
                                       th:value="${channel.id}"/>
                                <div class="col-11">
                                    <textarea class="form-control" rows="3"
                                              name="text" th:id="'text' + ${channel.id}"></textarea>
                                </div>
                                <div class="col-1 px-0">
                                    <button class="px-0">
                                        <img src="/public_static/icons/send.svg" width="30" height="30" alt="кнопка отправить">
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-players" role="tabpanel" aria-labelledby="pills-players-tab">
                    <div class = "col-12" id="players">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{public/footer :: footer}"></footer>
</body>
</html>