<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <footer th:fragment="footer" class="container-fluid text-secondary" style="font-size:0.75rem;margin-top:50px;">
        <h6 id="contacts">контакты</h6>
        +7(777)777-77-77<br>
        выдуманная_почта@gmail.com
        <h6 id="links">полезные ссылки</h6>
        <p>
            <a href="https://www.cyberforum.ru">www.cyberforum.ru</a> форум программистов и сисадминов <br>
            <a href="https://2ch.hk">2ch.hk</a> Два.ч - это система форумов, где любая точка зрения имеет право на жизнь.
        </p>
    </footer>
</body>
</html>