<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>форум</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="форум практическая работа">
    <link rel=stylesheet href="/public_static/main.css" type="text/css">
    <link id="theme" rel=stylesheet th:href="|/public_static/${@themeService.getTheme()}_theme.css|" type="text/css">
    <script src="/public_static/theme.js"></script>
    <style>
        article {
            position: relative;
            margin-top: 35px;
        }

        article img {
            position: absolute;
            left: -80px;
            border-radius: 50%;
        }
    </style>
</head>
<body>
    <header th:replace="public/header :: |${@securityService.getAccess()}_header|"></header>
    <main>
        <h3 id="forum">Форум</h3>
        <article th:each="mes, iter : ${messages}">
            <img class=.ava th:src="'/public/photo/' + ${mes.id}" width="60" height="60"
                 th:alt="'аватарка пользователя' + ${mes.login}">
            <p><b th:text="${mes.login}"></b></p>
            <p th:text="${mes.text}"></p>
        </article>

        <form th:action="@{/send}" method="post">
            <label>Введите текст:
                <input type="text" name="text"/>
            </label>
            <input type="submit" value="Отправить"/>
        </form>
    </main>
    <footer th:replace="public/footer :: footer"></footer>
</body>
</html>
