<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" >
<head>
    <link rel=stylesheet type="text/css" href="/public_static/css/bootstrap.css">
    <link rel=stylesheet type="text/css" href="/public_static/white_theme.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/public_static/js/bootstrap.bundle.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="~{public/header :: |${@securityService.getAccess()}_header|}"></header>
<main class="container">
    <style>
        article img {
            border-radius: 50%;
        }
        .username {
            text-decoration:none;
        }
    </style>
    <script>
        const xhr = new XMLHttpRequest();

    </script>
    <div class="row">
        <article class="col-12 py-2 row" th:each="mes, iter : ${messages}">
            <a class="col-auto" th:href="@{'/public/profile/'+${mes.username}}">
                <img th:src="'/public/photo/' + ${mes.username}" width="60" height="60"
                     th:alt="'аватарка пользователя' + ${mes.username}">
            </a>
            <div class="col-sm col-xs-12">
                <div>
                    <b><a class="username" th:text="${mes.username}" th:href="@{'/public/profile/'+${mes.username}}"></a></b>
                </div>
                <div th:text="${mes.text}"></div>
            </div>
        </article>
        <form id="send_message_form" class="col-12 py-2 row"
              th:action="@{'/send/' + ${section}}" method="post"
              style="position:sticky;bottom:0;">
            <div class="col-11">
                <textarea class="form-control" rows="3" name="text"></textarea>
            </div>
            <div class="col-1 px-0">
                <button class="px-0" type="submit">
                    <img src="/public_static/send.svg" width="30" height="30" alt="кнопка отправить">
                </button>
            </div>
        </form>
    </div>
</main>
<footer th:replace="~{public/footer :: footer}"></footer>
</body>
</html>   