<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" th:data-bs-theme="(${@securityService.hasUwU()})? 'pink':'light'">
<head>
    <title>форум</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="форум профиль">
    <link rel=stylesheet type="text/css" href="/public_static/css/bootstrap.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/public_static/js/bootstrap.bundle.js"></script>
</head>
<body>
<header th:replace="~{public/header :: |${@securityService.getAccess()}_header|}"></header>
<main class="container">
    <div class = "row">
        <div class = "col-12 col-sm-6" style="position: relative; padding:0;">
            <img th:src = "@{'/public/photo/' + ${t_user.login}}" style="width:100%;" alt="аватарка">
            <img src = "/public_static/catmaid.jpg" alt="кошкогорничная"
                 th:style="'width:100%; position: absolute; z-index: 99; left:0;
                 opacity: ' + ${t_user.degreeUwU} + ';'">
        </div>
        <div class = "col col-sm-6">
            <div class = "row p-2 gy-4 bg-color3">
                <section class="col-12">
                    <h6>Ник:</h6>
                    <span th:text="${t_user.login}"></span>
                </section>
                <section class="col-12">
                    <h6>Пол:</h6>
                    <span th:text="${t_user.sex}"></span>
                </section>
                <section class="col-12" style="overflow-wrap: break-word;">
                    <h6>Дополнительная информация:</h6>
                    <span th:text="${t_user.description}"></span>
                </section>

                <div th:if = "${t_user.login} == ${@securityService.getUsername()} or ${@securityService.getAccess()} == 'admin'" class="col-auto bg-color2">
                    <a th:href = "'/user/edit_profile/' + ${t_user.login}" style="text-decoration:none;">
                        Редактировать
                    </a>
                </div>

                <div th:if = "${@securityService.getAccess()} == 'admin'" class="col-auto bg-color2">
                    <a th:href = "'/admin/search_message/' + ${t_user.login} + '/1'" style="text-decoration:none;">
                        Просмотреть сообщения пользователя
                    </a>
                </div>

                <section th:if="${@securityService.getAccess()} == 'admin'" class="col-12">
                    <form th:action="@{/admin/punish}" method="post">
                        <h6>Наказать</h6>
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with punish button groups">
                            <div class="btn-group" role="group" aria-label="punish_buttons13">
                                <input type="hidden" name="username" th:value="${t_user.login}">
                                <input type="checkbox" class="btn-check" name="rule1" id="btncheck1" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck1"> п1</label>
                                <input type="checkbox" class="btn-check" name="rule2" id="btncheck2" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck2">п2</label>
                                <input type="checkbox" class="btn-check" name="rule3" id="btncheck3" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck3">п3</label>
                            </div>
                            <div class="btn-group" role="group" aria-label="punish_buttons46">
                                <input type="checkbox" class="btn-check" name="rule4" id="btncheck4" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck4">п4</label>
                                <input type="checkbox" class="btn-check" name="rule5" id="btncheck5" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck5">п5</label>
                                <input type="checkbox" class="btn-check" name="UwU" id="btncheckUWU" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheckUWU">UwU</label>
                            </div>
                        </div>
                        <label for="description"></label>
                        <textarea class="form-control" rows="3" name="description" id="description"></textarea>
                        <input class="btn btn-primary mt-2" type="submit">
                    </form>
                </section>
                <section th:if="${@securityService.getAccess()} == 'admin'" class="col-12">
                    <form th:action="@{/admin/forgive}" method="post">
                        <h6>Простить</h6>
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with forgive button groups">
                            <div class="btn-group" role="group" aria-label="forgive_buttons13">
                                <input type="hidden" name="username" th:value="${t_user.login}">
                                <input type="checkbox" class="btn-check" name="rule1" id="rule1" autocomplete="off">
                                <label class="btn btn-outline-primary" for="rule1"> п1</label>
                                <input type="checkbox" class="btn-check" name="rule2" id="rule2" autocomplete="off">
                                <label class="btn btn-outline-primary" for="rule2">п2</label>
                                <input type="checkbox" class="btn-check" name="rule3" id="rule3" autocomplete="off">
                                <label class="btn btn-outline-primary" for="rule3">п3</label>
                            </div>
                            <div class="btn-group" role="group" aria-label="forgive_buttons46">
                                <input type="checkbox" class="btn-check" name="rule4" id="rule4" autocomplete="off">
                                <label class="btn btn-outline-primary" for="rule4">п4</label>
                                <input type="checkbox" class="btn-check" name="rule5" id="rule5" autocomplete="off">
                                <label class="btn btn-outline-primary" for="rule5">п5</label>
                                <input type="checkbox" class="btn-check" name="UwU" id="UwU" autocomplete="off">
                                <label class="btn btn-outline-primary" for="UwU">UwU</label>
                            </div>
                        </div>
                        <input class="btn btn-primary mt-2" type="submit">
                    </form>
                </section>
                <section th:if="${@securityService.getAccess()} == 'admin'" class="col-12">
                    <h6>Активные наказания</h6>
                    <div style = "overflow-y:auto; overflow-wrap: break-word; max-height: 300px;">
                        <article th:each="pnmt : ${punishments}" class="depends-of-parity p-2">
                            <p th:text="'Id: ' + ${pnmt.id}"></p>
                            <p th:text="'Нарушено правило: ' + ${pnmt.rule}"></p>
                            <p th:text="'Дата начала наказания: ' + ${pnmt.date_start}"></p>
                            <p th:text="'Дата конца наказания: ' + ${pnmt.date_finish}"></p>
                            <p th:text="'Описание: ' + ${pnmt.description}"></p>
                        </article>
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{public/footer :: footer}"></footer>
</body>
</html>