<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" th:data-bs-theme="(${@securityService.hasUwU()})? 'pink':'light'">
<head>
    <title>форум</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="форум разделы">
    <link rel=stylesheet type="text/css" href="/public_static/css/bootstrap.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/public_static/js/bootstrap.bundle.js"></script>
    <style>
        #rooms li {
            margin-bottom: 10px;
            border-radius:10px;
            padding: 10px;
        }
        #rooms {
            list-style: none;
        }
    </style>
</head>
<body>
<header th:replace="~{public/header :: |${@securityService.getAccess()}_header|}"></header>
<main class="container">
    <div class="row">
        <div th:if = "${@securityService.getAccess()} != 'public'" class="col-12 gy-2">
            <a href="/user/create_room" class="btn btn-secondary">
                <img src="/public_static/icons/plus.svg" width="30" height="30" alt="plus_button">
                <span>Создать новую комнату </span>
            </a>
            <form th:action="@{/user/add_recent_room}" method="post" style="display: inline-block;">
                <button type="submit" class="btn btn-secondary">
                    <img src="/public_static/icons/plus.svg" width="30" height="30" alt="plus_button">
                    <span>Пересоздать прошлую комнату </span>
                </button>
            </form>
        </div>
        <div th:if="${param.error}!=null" class="mb-3 text-danger">
            <span th:text="${param.error}"></span>
        </div>
        <nav id="rooms" class="col-12 gy-2 row">
            <li class="col-12 depends-of-parity" th:each="room : ${rooms}">
                <p>
                    <a class = "text-primary" style="text-decoration:none;"
                       th:text="${room.name}" th:href="@{'/public/chat/' + ${room.id}}"></a>
                </p>
                <p class="text-secondary" style="font-size:0.75rem;" th:text="${room.description}"></p>
                <p class="text-secondary" style="font-size:0.75rem;" th:text="'создатель:' + ${room.creator}"></p>
            </li>
        </nav>
    </div>
</main>
<footer th:replace="~{public/footer :: footer}"></footer>
</body>
</html>