<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" th:data-bs-theme="(${@securityService.hasUwU()})? 'pink':'light'">
<head>
    <title>форум</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="форум правила">
    <link rel=stylesheet type="text/css" href="/public_static/css/bootstrap.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/public_static/js/bootstrap.bundle.js"></script>
    <style>
        ol {
            list-style-type: none;
            counter-reset:  item;
        }
        #rules > li:before {
            content: counter(item) ') ';
            counter-increment: item;
            color: #aaaaaa;
        }
        #rule5 > li:before {
            content: '5.' counter(item) ') ';
            counter-increment: item;
            color: #aaaaaa;
        }
    </style>
</head>
<body>
<header th:replace="~{public/header :: |${@securityService.getAccess()}_header|}"></header>
<main class="container">
    <h2 style="text-align:center">Правила форума</h2>
    <ol id="rules">
        <li> <u>Запрещены</u> реклама и спам (бан на 3 дня). </li>
        <li> <u>Запрещено</u> упоминание политики или других слов, которые могут восприниматься как провокация (бан на 7 дней).</li>
        <li> <u>Запрещены</u> любые оскорбления в чью-либо сторону. <span style="font-size: 1.5rem;">Исключение - оскорбление администрации ресурса</span>. (бан на 3 дней).</li>
        <li> <u>Запрещена</u> ненормативная лексика (бан на 1 день). </li>
        <li> <u>Запрещен</u> Запрещенный / непотребный контент (бан на месяц).
            К такому контенту относятся:
            <ol id="rule5">
                <li>
                    Способы самоубийства, побуждение к самоубийству, обсуждение суицида.
                </li>
                <li>
                    Разжигание вражды: призыв к насилию или травле человека либо группы лиц.
                </li>
                <li>
                    Расчленёнка, насилие и жестокость в любом их проявлении.
                </li>
                <li>
                    Сексуальный контент.
                </li>
                <li>
                    Запрещены любые виды пропаганды.
                </li>
                <li>
                    Контент, внесенный в федеральные реестры запрещенных и экстремистских материалов.
                </li>
            </ol>
        </li>
        <li style="font-size: 5px;">
            Последнее, но самое важное правило: Не оскорблять администрацию (перманентное превращение в кошкогорничную).
        </li>
    </ol>
    <p>
        При рецедиве срок удваивается.
        Например, если кто-то 45 раз нарушил правило 1, то наказание составит 3*2=6 дней.
    </p>
</main>
<footer th:replace="~{public/footer :: footer}"></footer>
</body>