<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" th:data-bs-theme="(${@securityService.hasUwU()})? 'pink':'light'">
<head>
    <title>форум</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel=stylesheet type="text/css" href="/public_static/css/bootstrap.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/public_static/js/bootstrap.bundle.js"></script>
</head>
<body>
<header th:replace="~{public/header :: |${@securityService.getAccess()}_header|}"></header>
<main class="container">

    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" id = "_csrf"/>

    <div class="row justify-content-center">
        <form class="col-auto bg-color1 mt-5 p-3" method="post" th:action="@{/user/add_room}">
            <div class="row">
                <label class="col-12 mb-3">
                    <input class="form-control" type="text" name="room_name" placeholder="название." required>
                </label>
                <label class="col-12 mb-3">
                    <textarea class="form-control" rows="3" name="room_description" placeholder="описание." required></textarea>
                </label>
                <label class="col-12 mb-3">
                    <textarea class="form-control" rows="3" name="room_help"
                              placeholder="сообщение, которое будет показано в самом верху лобби. Введите например правила режима."></textarea>
                </label>
                <div class="col-12 mb-3">

                    <label for="room_min_players" id = "label_min_players"></label>
                    <input type="range" class="form-range" name="room_min_players" id="room_min_players" min="2" max="20"
                           oninput="input1Handler(event)">

                    <script>
                        function input1Handler() {
                            document.getElementById('label_min_players').innerHTML =
                               'минимальное количество игроков: ' + document.getElementById("room_min_players").value;
                        }
                        input1Handler();
                    </script>
                </div>
                <div class="col-12 mb-3">

                    <label for="room_max_players" id = "label_max_players"></label>
                    <input type="range" class="form-range" name="room_max_players" id="room_max_players" min="2" max="20"
                           oninput="input2Handler(event)">

                    <script>
                        function input2Handler() {
                            document.getElementById('label_max_players').innerHTML =
                               'максимальное количество игроков: ' + document.getElementById("room_max_players").value;
                        }
                        input2Handler();
                    </script>
                </div>

                <div class="col-12 mb-3">

                    <label for="select_mode">Выберите один из режимов</label>
                    <select class="form-select" id="select_mode" name="mode">
                        <option value="avengers">Война бесконечности</option>
                        <option value="empty">Без режима</option>
                        <option value="debug">Дебаг</option>
                    </select>
                </div>

                <div class="col-12">
                    <input class="btn btn-primary mb-3" type="submit" value="Скопировать строку конфигурации" onclick="copyConfigHandler(event)"/>
                </div>

                <div class="col-12">
                    <button class="btn btn-primary mb-3">Создать комнату</button>
                </div>
            </div>
        </form>
    </div>
</main>
<footer th:replace="~{public/footer :: footer}"></footer>
</body>
</html>
<script>

    function copyConfigHandler(event) {

        event.preventDefault();

        let json_params = {};
        json_params["room_name"] = document.getElementsByName("room_name")[0].value;
        json_params["room_description"] = document.getElementsByName("room_description")[0].value;
        json_params["room_help"] = document.getElementsByName("room_help")[0].value;
        json_params["room_max_players"] = document.getElementsByName("room_max_players")[0].value;
        json_params["room_min_players"] = document.getElementsByName("room_min_players")[0].value;
        json_params["mode"] = document.getElementsByName("mode")[0].value;

        navigator.clipboard.writeText(JSON.stringify(json_params)).then(function () {},
            function () {
                alert('Failure to copy. Check permissions for clipboard')
            }
        );
    }
</script>