<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="форум практическая работа">

    <title>форум</title>
</head>
<body background="background.jpg" text="#ffffff" bgproperties="fixed" leftmargin="100" topmargin="100"
      vlink="#ccffff" alink="#ffccff">
    <header>
        <big><big><big><big><big><big><big><big><big><big><big><big><tt>
            F<sup>F</sup>F<sub>F</sub><sup>F</sup>OR<sub>U</sub>M
        </tt></big></big></big></big></big></big></big></big></big></big></big></big>
        <hr color="#777777" size="8">
    </header>
    <main>

        <nav>
            <h2>Содержание:</h2>
            <ul type=square>
                <li><a href="#rules">Правила</a></li>
                <li><a href="#forum">Форум</a></li>
                <li><a href="#contacts">Контакты</a></li>
                <li><a href="#links">Ссылки</a></li>
            </ul>
        </nav>

        <h3 id="rules">Правила форума</h3>
        <ol type="1">
            <li> <u>Запрещены</u> реклама и спам. </li>
            <li> <u>Запрещено</u> упоминание политики или других слов, которые могут восприниматься как провокация.</li>
            <li> <u>Запрещены</u> любые оскорбления в чью-либо сторону. </li>
            <li> <u>Запрещена</u> ненормативная лексика. </li>
            <li> <u>Запрещен</u> Запрещенный / непотребный контент. </li>
        </ol>
        <h3 id="forum">Форум</h3>
        <article th:each="mes, iter : ${messages}">
            <p>
                <img th:src="'photo/' + ${mes.id}" width="70" height="50">
                <b th:text="${mes.login}"></b>
            </p>
            <p th:text="${mes.text}"></p>
            <hr th:if="${iter.size}!=${iter.count}" color="#aaaaaa">
        </article>

        <form action="/send" method="post">
            <div>
                <label>Введите сообщение:
                    <input type="text" name="text"/>
                </label>
                <input type="submit" value="Отправить"/>
            </div>
        </form>
    </main>
    <footer>
        <hr color="#777777" size="8">
        <h3 id="contacts">контакты</h3>
        +7(777)777-77-77<br>
        выдуманная_почта@gmail.com
        <h3 id="links">полезные ссылки</h3>
        <a href="https://www.cyberforum.ru">www.cyberforum.ru</a> форум программистов и сисадминов <br>
        <a href="https://2ch.hk">2ch.hk</a> Два.ч - это система форумов, где любая точка зрения имеет право на жизнь.
    </footer>
</body>
</html>